In [1]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver import ActionChains
import pandas as pd
import time

driver = webdriver.Firefox()
driver.get('https://www.amazon.com/s?k=amazonbasics&i=garden&rh=n%3A1055398%2Cp_36%3A1253523011&dc&qid=1621814072&rnid=386465011&ref=sr_pg_1')

In [2]:
products_list = []
price_whole_list = []
price_fraction_list = []
i=0

while i<=20:
    try:
        products = driver.find_elements_by_xpath('//span[@class="a-size-base-plus a-color-base a-text-normal"]')
        price_whole = driver.find_elements_by_xpath('//span[@class="a-price-whole"]')
        price_fraction = driver.find_elements_by_xpath('//span[@class="a-price-fraction"]')

        for p in range(len(products)):
            products_list.append(products[p].text)

        for p in range(len(price_whole)):
            price_whole_list.append(price_whole[p].text)

        for p in range(len(price_fraction)):
            price_fraction_list.append(price_fraction[p].text)
        
        driver.find_element_by_xpath('//li[@class="a-last"]').click()
        time.sleep(10)
        print(f'items loaded from page {i}')
        i+=1
    except:
        break

items loaded from page 0
items loaded from page 1
items loaded from page 2
items loaded from page 3
items loaded from page 4
items loaded from page 5
items loaded from page 6
items loaded from page 7
items loaded from page 8
items loaded from page 9
items loaded from page 10
items loaded from page 11
items loaded from page 12
items loaded from page 13
items loaded from page 14
items loaded from page 15
items loaded from page 16
items loaded from page 17

In [3]:
print(f'loaded {i} pages')

loaded 18 pages

In [4]:
driver.close()

In [5]:
price_total_list = []
for p in range(len(price_whole_list)):
    price_total_list.append(price_whole_list[p]+'.'+price_fraction_list[p])
print(len(price_total_list))

549

In [6]:
df = pd.DataFrame(columns=['Product','Price'])

data_tuples = list(zip(products_list[1:],price_total_list[1:])) # list of each players name and salary paired together
temp_df = pd.DataFrame(data_tuples, columns=['Product','Price']) # creates dataframe of each tuple in list
df = df.append(temp_df) # appends to master dataframe

df.head()

                                             Product  Price
0  Amazon Basics 5-Shelf Adjustable, Heavy Duty S...  68.76
1  Amazon Basics Slim, Velvet, Non-Slip Suit Clot...  23.99
2  Amazon Basics 14-Piece Kitchen Knife Set with ...   4.48
3           Amazon Basics Heavy Duty Sponges, 6-Pack   4.59
4  Amazon Basics Silicone Hot Skillet Handle Cove...  18.23

In [7]:
df.to_csv('amazon_basics.csv')